# WAZUH AGENT - SYSTEM KONFIGURATION

## 🔒 WAZUH AGENT

- **Status:** {{ allg_status }}
- **OS-Family:** {{ ansible_facts.os_family }}
- **Manager-IP:** {{ wazuh_manager_ip }}
- **Agent-Name:** {{ wazuh_agent_name }}

---

**Status:** ✅ Wazuh Agent konfiguriert
