# AppArmor Profile für VNStat
# Generiert durch Ansible
# Server: {{ ansible_hostname }} ({{ ansible_default_ipv4.address }})
# Datum: {{ ansible_date_time.iso8601 }}

#include <tunables/global>

/usr/bin/vnstatd {
  #include <abstractions/base>
  #include <abstractions/nameservice>
  
  # Capabilities
  capability dac_override,
  capability net_admin,
  
  # VNStat Binary
  /usr/bin/vnstatd mr,
  
  # Konfiguration
  /etc/vnstat.conf r,
  
  # Database
  /var/lib/vnstat/** rw,
  
  # Runtime
  /run/vnstat/** rw,
  
  # Proc Network Stats
  @{PROC}/net/dev r,
  @{PROC}/sys/net/** r,
  
  # Temp
  /tmp/** rw,
}
