css=/cgit.css
logo=/cgit.png

root-title=Internal Git Mirror
root-desc=Read-only Git repositories
root-readme=/srv/git/README.md

enable-http-clone=1
enable-index-links=1
enable-git-config=1

scan-path=/srv/git
repo-url=/git
